body{
  margin:0;
  padding:0;
  background-color: #ECECEC;
}

html{
  margin:0;
  padding:0;
}

header{
  background-image: url("background.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 170px;
  position: fixed;
  z-index: 10000000;
  margin:0;
  padding:0;
}


.chat p{
  margin: 300px auto;
  background-color: white;
  height: 100%;
  width:100%;

}

#userFormArea{
  margin: 200px auto;
}

#messageArea{
  display: none;
  margin: 200px auto;
  background-color: white;
  height: 100%;
  border-style: solid;
  border-width: 1.3px;
  border-color: #DFDFDD;

  /*position: relative;
  left:200px;
  top:215px;*/
}

#messageForm{
  position: relative;
  margin: auto;
}

#message{
  resize: none;
  border: none;
  margin-left: 30px;
}


.messageBox{
  background-color: white;
  padding:0px 20px;
}

.words{
  padding:20px;
}
